
header {
    padding: 60px 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.container > div {
    width: 50%;
}
.head-info *{
margin-top: 12px;
}

.head-info_link {
    display: inline-block;
    text-decoration: none;
    background: darkcyan;
    color: white;
    padding: 8px 26px;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.3s;
    font-weight: bold;
}



.favorite-books {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /*background: red;*/

}

.favorite-books-item {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    justify-content: flex-end;
    align-content:flex-end ;
    text-align: center;
    /*margin: 0 auto;*/
    padding: 10px;
    opacity: 0.4;
    box-shadow: 0 0 3px 2px #ddd;
}
.favorite-books-item.active {
    opacity: 1;
    transform: scale(105%);
}

.favorite-books-item a {
    margin: 8px;
    text-align: center;
    display: inline-block;
}

.favorite-books-item img {
    margin: 0 auto;
    width: 150px;
    border-radius: 18px;
}

@media (max-width: 480px) {

    header {
        padding: 20px;
        overflow: hidden;
    }

    .container {
        flex-direction: column;
        width: 100%;

    }

    .container > div {
        width: 100%;
    }

    .favorite-books {

      padding: 40px 0;
    }

    .favorite-books-item {
        margin-left: 20px;
    }
}



