

.list-info {
    padding: 10px;
    margin: 20px auto;
    border-radius: 8px;
    width: 95%;
    background: white;
}

.book-list > p {
    margin: 0 auto;
    font-weight: bold;
    padding: 10px 0;
}


td,th {
    padding: 3px 3px;
    vertical-align: 3px;
}

@media (max-width: 480px) {

    #root {
        width: 100%;
    }

    .panel-admin-page {
        display: flex;
        /*background: #027c7c;*/
        width: 100%;
    }

    .panel-admin-menu {
        width: 15%;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 85%;
        flex-wrap: nowrap;
        flex-grow: 1;
    }

    .list-info {
        overflow: hidden;
        width: 90%;
    }

    .book-list {

        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
    }
}
