.main-menu {
    margin: 0 auto;
    padding: 7px;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 3px 1px #ddd;
}

.main-menu .container-menu {
    max-width: 1280px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.brand-info img {
    width: 100%;
    height: 40px;
}
.main-menu ul {
    display: flex;
}

.main-menu li {
    list-style: none;
    padding: 5px 0;
}

.main-menu a {
    font-family: "DejaVu Sans Condensed";
    padding: 10px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s;
    margin-left: 5px;
    background: white;
    border-radius: 10px;
}

.main-menu a:hover {
    background: #dddddd;
}

.main-menu li:last-child a {
    background: darkcyan;

    color: white;
}

.main-menu li:last-child:hover a {
    background: rgba(0, 139, 139, 0.7);
}


