* {
    margin: 0;
    padding: 0;
}


*, *::before, *::after {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

.btn-back {
    display: inline-block;
    text-decoration: none;
    background: darkcyan;
    color: white;
    margin-top: 15px;
    padding: 8px 26px;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.3s;
    font-weight: bold;
}

a.btn-back:hover {
    background: #02b4b4;
}